@font-face {
    font-family: "Jua";
    src: url("/Jua-Regular.ttf");
}

html, body {
    margin: 0;
    display: flex;
    width: 100%;
}

#root {
    width: 100%;
}

body * {
    font-family: "Jua";  
}