.content {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 50px;
}

.itemlist {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.itemlist-title {
    font-size: 50px;
}
