.main {
    display: flex;
    align-items: center;
    padding: 10px;
}

.main:hover {
    background-color: rgba(235, 59, 35, 0.849);
}

.main:hover > .festival {
    color: rgb(226, 226, 226);
}

.festival {
    color: rgba(235, 59, 35, 0.849);
    height: 100%;
    display: flex;
    align-items: center;
}

