.main {
    display: flex;
    align-items: center;
    position: relative;
}

.dropdown-item {
    position: absolute;
    top: 100%;
    margin: 0;
    padding: 0;
    width: 100px;
    list-style: none;
    background-color: white;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 5px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    gap: 20px;
    padding-bottom: 10px;
}

.dropdown-item > li {
    text-align: center; /* 가운데 정렬 */
    padding: 5px 0; /* 패딩으로 항목 높이 조정 */
    display:inline-block; 
    text-align:center;
    margin-top: 10px;
}

.dropdown-item > li > a {
    color:darkslategray
}


