.foodtruck-main-itemlist-item {
    width: 260px;
    cursor: pointer;
}

.foodtruck-main-itemlist-item > img {
    width: 100%;
    transition: 0.5s;
    border-radius: 15px;
}

.foodtruck-main-itemlist-item > .foodtruck-item-img-hovered {
    transform:  translate(0, -10px);
}

.foodtruck-main-itemlist-item > .foodtruck-item-text {
    display: flex;
    flex-direction: column;
    padding: 5px 10px 5px 10px;
    gap: 5px;
}

.foodtruck-main-itemlist-item > .foodtruck-item-text > .foodtruck-item-title {
    font-size: 22px;
    font-weight: 200;
}

.foodtruck-main-itemlist-item > .foodtruck-item-text > .foodtruck-item-subtitle {
    font-size: 15px;
    font-family: "Do Hyeon", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(36, 36, 36)
}

.foodtruck-main-itemlist-item > .foodtruck-item-comment {
    display: flex;
    padding: 5px 10px 5px 10px;
    gap: 12px;
}

.foodtruck-main-itemlist-item > .foodtruck-item-comment > .foodtruck-item-rate {
    display: flex;
    gap: 3px;
}

.foodtruck-main-itemlist-item > .foodtruck-item-comment > .foodtruck-item-rate > p {
    margin: 0;
}


.foodtruck-main-itemlist-item > .foodtruck-item-comment > .foodtruck-item-rate > svg {
    color: rgb(245, 168, 24);
}

.foodtruck-main-itemlist-item > .foodtruck-item-comment > .foodtruck-item-customers > svg {
    color: rgb(78, 80, 71);
}

.foodtruck-main-itemlist-item > .foodtruck-item-explain {
    color: rgb(186, 186, 186);
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 500;
    font-size: 14px;
}