.main-foodstall {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;
    z-index: 3;
}

.hovered-foodstall {
    background-color: rgba(235, 59, 35, 0.849);
    color: rgb(226, 226, 226);
    height: 100%;
    display: flex;
    align-items: center;
}