.foodtrucktab-list {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.foodtrucktab-itemlist {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: min-content;
    position: relative;
}

.foodtrucktab-item {
    color: rgb(96, 96, 96);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60px;
    width: 60px;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 10px;
    border-bottom: solid 3px rgba(235, 59, 35, 0);
}

.foodtrucktab-list > .foodtrucktab-itemlist > .foodtrucktab-hovered {
    color: black;
    border-bottom: solid 3px rgba(235, 59, 35, 0.849);
    background-color: rgba(240, 240, 240, 0.7);
}

.foodtrucktab-item > .all-icon {
    color: black;
    font-size: 26px;
    padding: 8px;
    margin-bottom: auto;
}

.foodtrucktab-item > .meals-icon {
    color: black;
    font-size: 36px;
    padding: 5px;
}

.foodtrucktab-item > .beverages-icon {
    color: black;
    font-size: 28px;
    padding: 5px;
    margin-bottom: auto;
}

.foodtrucktab-item > .noodles-icon {
    color: black;
    font-size: 28px;
    padding: 5px;
    margin-bottom: auto;
}

.foodtrucktab-item > .bowls-icon {
    color: black;
    font-size: 50px;
    padding: 5px;
    margin-bottom: auto;
}

.foodtrucktab-item > .tteokbokki-icon {
    width: 50px;
    padding: 5px;
    height: auto;
    margin-bottom: auto;
}

.foodtrucktab-item > .pizza-icon {
    color: black;
    font-size: 36px;
    padding: 5px;
    margin-bottom: auto;
}

.foodtrucktab-item > .dumpling-icon {
    color: black;
    font-size: 30px;
    padding: 5px;
    margin-bottom: auto;
}

.foodtrucktab-item > .sushi-icon {
    color: black;
    font-size: 38px;
    padding: 2px;
    margin-bottom: auto;
}

.foodtrucktab-item > .bibimbap-icon {
    width: 40px;
    padding: 2px;
    height: auto;
    margin-bottom: auto;
}

.foodtrucktab-item > .lunchbox-icon {
    width: 36px;
    padding: 2px;
    height: auto;
    margin-bottom: auto;
}

.foodtrucktab-item > .takoyaki-icon {
    width: 50px;
    padding: 3px;
    height: auto;
    margin-bottom: auto;
}

.foodtrucktab-item > .shavedice-icon {
    width: 34px;
    padding: 2px;
    height: auto;
    margin-bottom: auto;
}

.test {
    filter: invert(1);
    background-color: black;
}

.foodtrucktab-detail-list {
    border-top: solid 1px rgb(226, 226, 226);
    border-bottom: solid 1px rgb(226, 226, 226);
    background-color: #f5f5f580;
    width: 100vw;
    position: absolute;
    top: 81px;
    height: 58px;
}

.foodtrucktab-detail-itemlist {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px 0px 10px 0px;
    align-items: flex-start;
    position: absolute;
    justify-content: center;
    left: 0;
    top: 81px;
}

.foodtrucktab-detail-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px 8px 16px;
    background-color: white;
    border-radius: 30px;
    border: solid 1px rgb(176, 176, 176);
    font-size: 13px;
    font-family: 'Times New Roman', Times, Arial, Helvetica, sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.foodtrucktab-list > .foodtrucktab-itemlist > .foodtrucktab-detail-itemlist > .foodtrucktab-detail-hovered{
    color: white;
    background-color: rgba(235, 59, 35, 0.849);
    border-color: rgba(235, 59, 35, 0.849);
}