.itemlist-swiper {
    width: 1000px;
    height: auto;
    position: relative;
}


.itemlist-swiper-position {
    position: static;
}

.swiper-button-prev {
    left: var(--swiper-navigation-sides-offset, 10%);
    right: auto;
    z-index: 5;
}

.swiper-button-next {
    right: -50px;
    z-index: 5;
}

.swiper-button-prev {
    left: -50px;
    z-index: 5;
}

