.itemlist-swiper {
    width: 1000px;
    height: auto;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, 10%);
    right: auto;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: -10px;
}
