.menu-items {
    display: flex;
    align-items: center;
}

.menu-items .first-items {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 60px;
    align-items: center;
}

.menu-items .first-items > li{
    position: relative;
    cursor: pointer;
}

.menu-items .first-items > li > ul{
    position: absolute;
    top: 100%;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.menu-items li {
    padding: 0;
    margin: 0;
}
