.main {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;
}

.hovered {
    background-color: rgba(235, 59, 35, 0.849);
}

.hovered > .rental {
    color: rgb(226, 226, 226);
    height: 100%;
    display: flex;
    align-items: center;
}


.rental {
    color: rgba(235, 59, 35, 0.849);
    height: 100%;
    display: flex;
    align-items: center;
}

.dropdown-rental {
    position: absolute;
    top: 85%;
    left: -10%;
    margin: 0;
    padding: 0;
    width: 120px;
    list-style: none;
    background-color: white;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 5px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    padding-bottom: 10px;
}

.dropdown-rental > li {
    text-align: center; 
    padding: 5px 0; 
    display:inline-block; 
    text-align:center;
    margin-top: 10px;
}

.dropdown-rental > li > a {
    color:darkslategray
}




