.main-stage {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;
    z-index: 3;
}

.hovered-stage {
    background-color: rgba(235, 59, 35, 0.849);
}

.hovered-stage > .stage {
    color: rgb(226, 226, 226);
    display: flex;
    align-items: center;
}

.dropdown-stage > .hovered-stage > .stage-dropdown-item-link {
    color: rgb(226, 226, 226);
}

.stage {
    color: rgba(235, 59, 35, 0.849);
    display: flex;
    align-items: center;
}

.dropdown-stage {
    position: absolute;
    top: 85%;
    left: -10%;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: white;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 5px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    padding: 0;
    display: flex;
}

.dropdown-stage > .dropdown-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 50px;
}

.dropdown-stage > .dropdown-item-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dropdown-stage > .dropdown-item-bottom {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.stage-dropdown-item-link {
    color: darkslategray;
}
