.tentstall-main > .tentstall-main-filter > .tentstall-main-filter-rent > .filter-state {
    background-color: aqua;
}

.tentstall-main > .tentstall-main-filter > .tentstall-main-filter-rent > .filter-dropdown {
    position: absolute;
    top: 30px;
    background-color: gray;
}

.tentstall-main > .tentstall-main-filter > .tentstall-main-filter-sort {
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: rgb(86, 86, 86);
    gap: 5px;
}

.tentstall-main > .tentstall-main-filter > .tentstall-main-filter-sort > .sort-hovered {
    color: black;
}

.tentstall-main > .tentstall-main-filter > .tentstall-main-filter-sort > .sort-hovered > .tentstall-main-checkicon {
    margin-right: 4px;
    font-size: 14px;
}
.tentstall-main > .tentstall-main-filter > .tentstall-main-filter-sort > div {
    cursor: pointer;
}

.tentstall-main > .tentstall-main-filter > .tentstall-main-filter-sort > span {
    cursor: pointer;
    pointer-events : none;
}