.tentstall-main > .tentstall-main-filter > .tentstall-main-filter-rent {
    position: relative;
}

.tentstall-main > .tentstall-main-filter > .tentstall-main-filter-rent > .filter-state {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 76px;
    padding: 5px 4px 5px 4px;
    border: solid 1px rgb(156, 156, 156);
    border-radius: 8px;
    gap: 10px;
}

.tentstall-main > .tentstall-main-filter > .tentstall-main-filter-rent > .filter-state > .filter-state-down {
    font-size: 16px;
}

.tentstall-main > .tentstall-main-filter > .tentstall-main-filter-rent > .filter-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 40px;
    width: 86px;
    border: solid 1px rgb(156, 156, 156);
    border-radius: 8px;
}

.tentstall-main > .tentstall-main-filter > .tentstall-main-filter-rent > .filter-dropdown > .filter-dropdown-item {
    box-sizing: border-box;
    width: 96%;
    padding: 5px 8px 5px 9px;
}

.tentstall-main > .tentstall-main-filter > .tentstall-main-filter-sort {
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: rgb(86, 86, 86);
    gap: 5px;
}

.tentstall-main > .tentstall-main-filter > .tentstall-main-filter-sort > .sort-hovered {
    color: black;
}

.tentstall-main > .tentstall-main-filter > .tentstall-main-filter-sort > .sort-hovered > .tentstall-main-checkicon {
    margin-right: 4px;
    font-size: 14px;
}
.tentstall-main > .tentstall-main-filter > .tentstall-main-filter-sort > div {
    cursor: pointer;
}

.tentstall-main > .tentstall-main-filter > .tentstall-main-filter-sort > span {
    cursor: pointer;
    pointer-events : none;
}