.generate-basetag {
    width: 100vw;
    background-color: rgb(196, 196, 196);
    position: relative;
}

.height-resizing-bar {
    border: 1px solid black;
    cursor: pointer;
}

.temp-box {
    width: 100px;
    height: 50px;
    background-color: aqua;
}